.empty-message, .info-text, .error {
  text-align: center;
  font-size: 15px;
  margin-bottom: 15px;
}

.error { color: red; }

.task-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 16px;
  margin-bottom: 12px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.task-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.task-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

h3 {
  margin: 21px;
  font-size: 1.3rem;
  font-weight: 600;
}

.right-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.badge-complete {
  color: #2e7d32;
  font-weight: 600;
}

.badge-pending {
  color: #ef6c00;
  font-weight: 600;
}

.add-button {
  display: block;
  margin: 20px auto 0;
  background-color: #6a0dad;
  padding: 7px 20px;
}

button {
  padding: 6px 12px;
  background-color: #6a0dad;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-done {
  background-color: #4c9e50;
  color: white;
  border: none;
  padding: 7px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-done:hover {
  background-color: #1b5e20;
}

.btn-todo {
  background-color: #ff7057;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-todo:hover {
  background-color: #e65100;
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.icon-buttons {
  display: flex;
  gap: 8px;
  padding-bottom: 3px;
}

.icon-button {
  background: transparent;
  border: none;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.edit-button:hover {
  background-color: rgba(204, 132, 255, 0.619);
  /* transform: scale(1.1); */
}

.delete-button:hover {
  background-color: rgba(255, 183, 124, 0.735);
  /* transform: scale(1.1); */
}

.icon-button svg {
  display: block;
}