<div class="app-container">
    <h2>Task List</h2>

    <div *ngIf="loading" class="info-text">Loading tasks...</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <div *ngIf="tasks.length === 0" class="empty-message">
        No tasks found. Please add tasks.
    </div>

    <div *ngFor="let task of tasks" class="task-card">
        <div class="task-content">
            <h3>{{ task.title }}</h3>

            <div class="right-actions">
                <div class="icon-buttons">
                    <button class="icon-button edit-button" routerLink="/edit-task/{{ task.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24" fill="none"
                            stroke="#6a0dad" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path
                                d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                            <path d="m15 5 4 4" />
                        </svg>
                    </button>

                    <button class="icon-button delete-button" (click)="confirmDelete(task)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24" fill="none"
                            stroke="#e65100" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                            <path d="M3 6h18" />
                            <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                        </svg>
                    </button>
                </div>

                <button (click)="toggleStatus(task)" [ngClass]="task.isCompleted ? 'btn-done' : 'btn-todo'">
                    {{ task.isCompleted ? 'Mark as To Do' : 'Mark as Done' }}
                </button>
            </div>
        </div>
    </div>

    <button routerLink="/add-task" class="add-button">Add Task</button>
</div>

<app-confirm-modal [show]="showModal" [message]="confirmMessage" (confirm)="deleteConfirmed()"
    (cancel)="showModal = false">
</app-confirm-modal>